<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="1" >
  <test name="Regression1"   >
   <classes>
  	   <class name="guoxiaoli.Demo" />
       <class name="guoxiaoli.Demo1" />
       <class name="lixuan.LoginTest" />
       <class name="zhangfan.BackStageTest" />
       <class name="azhouqianqian.BackgroundTest" />
       <class name="azhouqianqian.ExchangePoints" />
       <class name="azhouqianqian.HomeElectricity" />
       <class name="azhouqianqian.Login_Test" />
       <class name="azhouqianqian.Pingtuan" />
    </classes>
 </test>
</suite>
